@(courseList: List[Course])

@main("Courses"){


    <div class="row">
        Seus Cursos


        VAZIO
    </div>

Todos os Cursos Disponiveis
    <div class="row">


    <div class="col s12 m12 xl6">
        @for(course<-courseList){

            <div class="row yellow lighten-4 z-depth-2">

                <div class="col s12 m8">
                    <h4>@course.getName</h4>
                </div>
                <div class="col s4 m1">
                    <a class="btn-flat waves-effect waves-light " href="@routes.CourseController.show(course.getId)">View</a>
                </div>
                <div class="col s4 m1">
                    <a class="btn-flat waves-effect waves-light" href="#">edit</a>
                </div>
                <div class="col s4 m1">
                    <button class="btn-flat  waves-effect waves-light" onclick="sendDeleteRequest(
                            '@routes.CourseController.destroy(course.getId)',
                            '@routes.CourseController.index()'
                    )">Remove</button>
                </div>
            </div>
            <div class="divider"></div>

        }
        <div class="row"></div>

        <div class="row">
            <div class="col s6 m2">
                <a class="btn-small waves-effect waves-light yellow darken-4" href="#">New Course</a>
            </div>
        </div>
    </div>

    </div>


}

