@(badges:List[Badge], date:String, categories: Set[String])
    @import tags.trophycard


    <div>
        <div class="row trophies-@date">
            @*Date*@
        <div class="col m1">
            <p>@date</p>
        </div>
        <div class="col m10">
            <div class="col s12 m6 l4 xl3">
            @for(badge<-badges){
                @if(badge.getDate==date){
                    @trophycard(badge)
                }
            }
            </div>

        </div>

        </div>
        <div class="divider"></div>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>


        <script>
    $(document).ready(function () {
        $(".trophies-@date").find(".trophycard>[data-date!='@date']").hide()
    })

</script>