
@(badge: Badge, badges: Map[String,UserBadge])
<div class="trophycard" data-status="@badge.getStatus">
    <div @if(badge.getTier == 1) {
        class="card horizontal orange lighten-4 hoverable waves-effect waves-light" data-topic="@badge.getTopic" data-finalDate="@badge.getFinalDate"
    }
    @if(badge.getTier == 2) {
        class="card horizontal grey lighten-4 hoverable waves-effect waves-light" data-id="@badge.getId" data-topic="@badge.getTopic" data-finalDate="@badge.getFinalDate"
    }
    @if(badge.getTier == 3) {
        class="card horizontal yellow lighten-4 hoverable waves-effect waves-light" data-topic="@badge.getTopic" data-finalDate="@badge.getFinalDate"}>


    <a href="@routes.BadgeController.show(badge.getId)" class="card-image valign-wrapper  modal-trigger ">

        @if(badges.get(badge)==null) {
            <img src="@routes.Assets.versioned("images/emptytrophy.png")" style="height: 40px;
                min-width: 30px;
                object-fit: contain"/>
        }else {
            @if(badges.get(badge).getStatus != BadgeStatus.EARNED) {
                <img src="@routes.Assets.versioned("images/emptytrophy.png")" style="height: 40px;
                    min-width: 30px;
                    object-fit: contain"/>
            } else {
                @if(badge.getTier == 1) {
                    <img src="@routes.Assets.versioned("images/trophyt1.png")" style="height: 40px;
                        min-width: 30px;
                        object-fit: contain"/>
                }
                @if(badge.getTier == 2) {
                    <img src="@routes.Assets.versioned("images/trophyt2.png")" style="height: 40px;
                        min-width: 30px;
                        object-fit: contain"/>
                }
                @if(badge.getTier == 3) {
                    <img src="@routes.Assets.versioned("images/trophyt3.png")" style="height: 40px;
                        min-width: 30px;
                        object-fit: contain"/>
                }
            }
        }



    </a>
    <a href="@routes.BadgeController.show(badge.getId)" class="card-stacked black-text modal-trigger">
        <div class="card-content ">
            <p>@badge.getName</p>
        </div>
    </a>
    </div>

    @*Modal*@
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 data-name="nome">@badge.getName</h4>
            <p>Category: @badge.getTopic</p>
            <p>Description: @badge.getDescription</p>
            <input type="text" name="nom">

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                Close</a>
        </div>
    </div>
</div>

@*end of modal*@