
@(badge: Badge)
<div class="trophycard">
    <div @if(badge.getTier == 1) {
        class="card horizontal orange lighten-4 hoverable waves-effect waves-light" data-topic="@badge.getTopic" data-finalDate="@badge.getFinalDate"
    }
    @if(badge.getTier == 2) {
        class="card horizontal grey lighten-4 hoverable waves-effect waves-light" data-id="@badge.getId" data-topic="@badge.getTopic" data-finalDate="@badge.getFinalDate"
    }
    @if(badge.getTier == 3) {
        class="card horizontal yellow lighten-4 hoverable waves-effect waves-light" data-topic="@badge.getTopic" data-finalDate="@badge.getFinalDate"}>
    <a href="@routes.BadgeController.show(badge.getId)" class="card-image valign-wrapper  modal-trigger ">
        <img src="@routes.Assets.versioned("images/emptytrophy.png")" style="max-height: 40px;
            min-height: 30px;
            min-width: 20px;
            height: auto;
            width: auto;"/>
    </a>
    <a href="@routes.BadgeController.show(badge.getId)" class="card-stacked black-text modal-trigger">
        <div class="card-content ">
            <p>@badge.getName</p>
        </div>
    </a>
    </div>

    @*Modal*@
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 data-name="nome">@badge.getName</h4>
            <p>Category: @badge.getTopic</p>
            <p>Description: @badge.getDescription</p>
            <input type="text" name="nom">

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                Close</a>
        </div>
    </div>
</div>

@*end of modal*@