@import helper._
@import views.html.helper.form
<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>GaPSEE - Home</title>
                <link rel="icon" href="@routes.Assets.versioned("images/iconegapsee.png")">
                <link rel="shortcut icon" href="@routes.Assets.versioned("images/iconegapsee.png")" />

                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link href="@routes.Assets.versioned("materialize/css/materialize.css")" rel="stylesheet" media="screen,projection">
        </head>

        <body>
                <nav class="cyan" role="navigation">
                        <div class="nav-wrapper container z"><a id="logo-container" href="@routes.HomeController.index()" class="brand-logo"><img src="@routes.Assets.versioned("images/gapseelogotrans.png")" style="max-height: 56px"></a>
                                <ul class="right hide-on-med-and-down">
                                        <li><a href="@routes.HomeController.login()">Login<i class="material-icons left tiny">person</i> </a></li>
                                </ul>

                                <ul id="nav-mobile" class="sidenav">
                                        <li><a href="@routes.HomeController.login()">Login<i class="material-icons left tiny">person</i> </a></li>
                                </ul>
                                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        </div>
                </nav>
                        <!--Alert-->
                <div class="row" id="alert_box">

                        @if(flash.containsKey("fail")) {
                                <div class="col s12 m12">
                                        <div class="card red lighten-4 z-depth-0">
                                                <div class="card-content">
                                                        <span>  <i class="material-icons left">warning</i> @flash.get("fail") </span>
                                                        <div class="btn-flat right" id="alert_close"><i class="material-icons left">close</i></div>
                                                </div>
                                        </div>
                                </div>
                        }

                        @if(flash.containsKey("alert")) {
                                <div class="col s12 m12">
                                        <div class="card yellow lighten-4 z-depth-0">
                                                <div class="card-content">
                                                        <span>  <i class="material-icons left">priority_high</i> @flash.get("alert") </span>
                                                        <div class="btn-flat right" id="alert_close"><i class="material-icons left">close</i></div>
                                                </div>
                                        </div>
                                </div>
                        }

                        @if(flash.containsKey("success")) {
                                <div class="col s12 m12">
                                        <div class="card green lighten-4 z-depth-0">
                                                <div class="card-content">
                                                        <span>  <i class="material-icons left">thumb_up</i> @flash.get("success") </span>
                                                        <div class="btn-flat right" id="alert_close"><i class="material-icons left">close</i></div>
                                                </div>
                                        </div>
                                </div>
                        }

                </div>
                <div class="container">
                        <div class="row center">
                                <br><br>
                                <div id="form">
                                @form(action = routes.UserController.save()) {
                                        <div class="row align-wrapper">
                                                <div class="col s12 m6 offset-m3 valign">
                                                        <div class="card yellow lighten-4">
                                                                <div class="card-content">
                                                                        <h4>New User</h4>
                                                                        <div class="input-field col s12">
                                                                                <i class="material-icons prefix">account_circle</i>
                                                                                <input placeholder="User Name" id="name" type="text" name="username">
                                                                                <label for="name">Usuario</label>
                                                                        </div>

                                                                        <div class="input-field col s12">
                                                                                <i class="material-icons prefix">lock</i>
                                                                                <input placeholder="Password" id="pswd" type="password"  name="password">
                                                                                <label for="pswd">Senha</label>
                                                                        </div>
                                                                        <div class="col s2">
                                                                                <br>
                                                                                <i class="material-icons">assignment_ind</i>
                                                                        </div>

                                                                        <div class="input-field col s10">
                                                                                <select name="role">
                                                                                        <option value="@UserRole.STUDENT">Aluno</option>
                                                                                        <option value="@UserRole.TUTOR">Professor</option>
                                                                                        <option value="@UserRole.ADMIN">Admin</option>
                                                                                </select>
                                                                                <label>Tipo de Usuário</label>
                                                                        </div>


                                                                        <button class="btn waves-effect waves-light" type="submit" name="submit" value="New User">New User
                                                                                <i class="material-icons right">add_circle_outline</i>
                                                                        </button>
                                                                </div>


                                                        </div>
                                                </div>

                                        </div>

                                }
                                </div>
                        </div>
                </div>
                <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
                <script src="@routes.Assets.versioned("materialize/js/materialize.js")"></script>
                <script src="@routes.Assets.versioned("/js/custom.js")"></script>
                <script>
                        $(document).ready(function(){
                                $('.sidenav').sidenav();
                                $('select').formSelect();
                        })

                        $('#alert_close').click(function(){
                                $( "#alert_box" ).fadeOut( "slow", function() {
                                });
                        });
                </script>
        </body>
</html>







