@import helper._


@main("Novo Usuário"){
    @form(CSRF(routes.UserController.save())){
            <div class="row">
                    <div class="col s12 m4">
                            <div class="row">
                                    <div class="input-field col s12">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input type="text" placeholder="User Name" id="name" name="username">
                                            <label for="name">Nome de Usuário</label>
                                    </div>

                                    <div class="input-field col s12">
                                            <i class="material-icons prefix">lock</i>
                                            <input type="text" placeholder="Senha" id="pswd" name="password">
                                            <label for="pswd">Senha</label>
                                    </div>

                                    <!--<div class="input-field col s12">
                                            <select name="role">
                                                    <option value="@UserRole.TUTOR">Professor</option>
                                                    <option value="@UserRole.STUDENT">Aluno</option>
                                                    <option value="@UserRole.ADMIN">Admin</option>
                                            </select>
                                            <label>Tipo de Usuário</label>
                                    </div>-->
                            </div>
                            <div class="row">
                                    <button class="waves-effect waves-light btn yellow darken-4" type="submit" value="New User"> Create
                                            <i class="material-icons left">add</i>
                                    </button>
                            </div>

                    </div>




                    }
            </div>


}

        <script>
                $(document).ready(function(){
                        $('select').formSelect();
                });
        </script>





