@import views.html.helper.form
@(evidenceForm:Form[Evidence],badge:Badge)

@main("New Evidence "){
<div class="container">
    <div class="row">
        <p><b>Task #@badge.getId</b></p>
        <div class="col s3 m2">
            @if(badge.getTier==1){
                <img class="responsive-img" src="@routes.Assets.versioned("images/trophyt1.png")" >
            }
            @if(badge.getTier==2){
                <img class="responsive-img" src="@routes.Assets.versioned("images/trophyt2.png")">
            }
            @if(badge.getTier==3){
                <img class="responsive-img" src="@routes.Assets.versioned("images/trophyt3.png")" >
                }

        </div>
        <div class="col s9 m10">
            <p style="font-style: italic">@badge.getName</p>
        </div>

    </div>


    <p><b>Description:</b> @badge.getDescription</p>
    <p><b>Topic:</b> @badge.getTopic</p>
    <p><b>Deadline:</b> @badge.getFinalDate</p>
    <p><b>Level:</b> @badge.getLevel.getLevelName</p>

</div>


    <div class="row">
    @helper.form(action = helper.CSRF(routes.EvidenceController.save(badge.getId))){
        <div class="col s12 m6">
            @helper.inputText(evidenceForm("description"),'class -> "input-field")
            @helper.inputText(evidenceForm("feedback"))
             <button class="waves-effect waves-light btn cyan" type="submit" value="New Evidence"> Submit Evidence
                <i class="material-icons left">save</i>
            </button>
        </div>
    </div>
}

}