@import views.html.helper.form
@(evidenceForm:Form[Evidence],badge:Badge)




@main("New Evidence "){
<div class="container">
    <div class="row">
        <p><b>Task #@badge.getId</b></p>
        <div class="col s3 m2">
            @if(badge.getTier==1){
                <img class="responsive-img" src="@routes.Assets.versioned("images/trophyt1.png")" >
            }
            @if(badge.getTier==2){
                <img class="responsive-img" src="@routes.Assets.versioned("images/trophyt2.png")">
            }
            @if(badge.getTier==3){
                <img class="responsive-img" src="@routes.Assets.versioned("images/trophyt3.png")" >
                }

        </div>
        <div class="col s9 m10">
            <p style="font-style: italic">@badge.getName</p>
        </div>

    </div>


    <p><b>Description:</b> @badge.getDescription</p>
    <p><b>Topic:</b> @badge.getTopic</p>
    <p><b>Deadline:</b> @badge.getFinalDate</p>
    <p><b>Level:</b> @badge.getLevel.getLevelName</p>

</div>


    <div class="row">
    @form(action = routes.EvidenceController.save(badge.getId),'enctype -> "multipart/form-data"){
        <div class="col s12 m6">
            @*File Attachment*@
            <div class="file-field input-field">
                <div class="btn cyan">
                    <i class="material-icons left">attach_file</i>
                    <span>File</span>
                    <input type="file" name="evidenceFile">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
                <label for="textarea1">Justificativa</label>
            </div>



            <br/>
            <div class="input-field col s12">
                <textarea id="textarea2" class="materialize-textarea" name="feedback"></textarea>
                <label for="textarea2">Feedback</label>
            </div>

            <button class="waves-effect waves-light btn yellow darken-4" type="submit" value="New Evidence"> Submit Evidence
                <i class="material-icons left">save</i>
            </button>

        </div>
    }
    </div>

            <br/>
}