@import views.html.helper.form
@import helper._
@import views.html.tags.tagbadge
@(evidenceForm:Form[Evidence],badge:Badge)




@main("New Evidence "){
<div class="container">
    @tagbadge(badge)

</div>


    <div class="row">
        @form(CSRF(routes.EvidenceController.save(badge.getId)),'enctype -> "multipart/form-data"){
        <div class="col s12 m6">
            @*File Attachment*@
            <div class="file-field input-field">
                <div class="btn cyan">
                    <i class="material-icons left">attach_file</i>
                    <span>File</span>
                    <input type="file" name="evidenceFile">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            @*Text Area Description*@
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
                <label for="textarea1">Justificativa</label>
            </div>



            <br/>
            @*<div class="input-field col s12">*@
                @*<textarea id="textarea2" class="materialize-textarea" name="feedback"></textarea>*@
                @*<label for="textarea2">Feedback</label>*@
            @*</div>*@

            <button class="waves-effect waves-light btn yellow darken-4" type="submit" value="New Evidence"> Submit Evidence
                <i class="material-icons left">save</i>
            </button>

        </div>
    }
    </div>

            <br/>
}