@(levelList: List[Level], categories: Set[String], dates: Set[String])

@import tags.trophycard
@import tags.trophiesbydate

@main("Badge List") {
    <!--cabeçalho do curso-->
    <div class="row">
        <div class="card-panel">
            <div class="card-title"><h4>Software Engineering</h4></div>
            <div class="row">
                <div class="col s6 m2">
                    <div class="card-panel">
                        <img src="@routes.Assets.versioned("images/trophy.png")" alt="trophy" style="max-width: 60px;max-height: 50px; margin-left: auto; margin-right: auto;">
                        <p>0/@levelList.size() Troféus</p>
                    </div>
                </div>
                <div class="col s6 m6">
                    <div class="card-panel">
                        <span>Progresso</span>
                        <div class="progress">
                            <div class="determinate" style="width: 70%">Progresso</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="btn green" id="filterGold">Gold</div>
    <div class="btn green" id="filterSilver">Silver</div>
    <div class="btn green" id="filterBronze">Bronze</div>



    <!--Níveis-->
    <div class="row">
        <ul class="collapsible accordion">
            @for(level<-levelList){
                <li class="">
                    <div class="collapsible-header"><i class="material-icons">expand_more</i>@level.getLevelName</div>
                    <div class="collapsible-body">
                        <div class="row">
                            @for(date<-level.allDates){
                                <div class="row">
                                    <div class="col m1">
                                        <p>@date</p>
                                    </div>
                                    <div class="col m10">
                                        @for(topic<-level.topicsByDate(date)){
                                            <div class="col s12 m6 l4 xl3">
                                                <p class="center">@topic</p>
                                                @for(badge<-level.getBadgeList){
                                                    @if((badge.getFinalDate==date) && (badge.getTopic==topic)){
                                                        @trophycard(badge)
                                                    }
                                                }
                                            </div>
                                        }


                                    </div>
                                </div>
                                <div class="divider"></div>
                            }



                        </div>

                    </div>
                </li>
            }



        </ul>



    </div>



    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script>
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
            $(document).ready(function(){
                $('.modal').modal({
                    ready: function (modal, trigger) {
                        modal.find('input[name="nom"]').val(trigger.data('finalDate'))
                    }
                });
            });
            $(document).ready(function(){
                $("#filterGold").click(function () {
                    $(".yellow").toggle();
                });
            });
            $(document).ready(function(){
                $("#filterSilver").click(function () {
                    $(".grey").toggle();
                });
            });
            $(document).ready(function(){
                $("#filterBronze").click(function () {
                    $(".orange").toggle();
                });
            });
           /* $(document).ready(function () {
                $(".course-topic-CM").hide();
            })*/

    </script>
}