@import helper._
@(badgeForm : Form[Badge])


@main("Badge Form"){

  <h3> Create Badge </h3>


<div class="row">
  @helper.form(action = helper.CSRF(routes.BadgeController.save())){
    <div class="col s12 m6">
    @helper.inputText(badgeForm("name"),'class -> "input-field")

    @helper.inputText(badgeForm("description"))
    @helper.inputText(badgeForm("topic"))
    @helper.select(badgeForm("tier"),Seq(
    "1" -> "Bronze",
    "2" -> "Silver",
    "3" -> "Gold"
   ))
    @helper.inputText(badgeForm("finalDate"))

    <button class="waves-effect waves-light btn cyan" type="submit" value="Create Badge"> Create Badge
      <i class="material-icons left">save</i>
    </button>
    </div>
</div>
  }



   <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="@routes.Assets.versioned("materialize/js/materialize.js")"></script>
  <script>
          $(document).ready(function(){
            $('select').formSelect();
          });
  </script>

}

