@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>

    <link rel="icon" href="@routes.Assets.versioned("images/iconegapsee.png")">
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/iconegapsee.png")" />
    <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <link href="@routes.Assets.versioned("materialize/css/materialize.css")" rel="stylesheet" media="screen,projection">
    <style>
            body {
                padding-top: 0rem;

            }
    </style>

</head>
<body>

    <!--Navigation Bar-->
    <nav class="cyan" role="navigation">
        <div class="nav-wrapper container z">
            <a href="@routes.HomeController.home()" class="brand-logo"><img src="@routes.Assets.versioned("images/gapseelogotrans.png")" style="max-height: 56px"></a>


            <ul class="right hide-on-med-and-down">
                <li><a href="@routes.CourseController.index()">Courses</a></li>
                <li><a href="@routes.HomeController.logout()"><i class="material-icons">exit_to_app</i> Logout</a></li>
                <li><a href="#"><i class="material-icons">account_circle</i> User</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="@routes.CourseController.index()">Courses</a></li>
                <li><a href="@routes.HomeController.logout()"><i class="material-icons">exit_to_app</i> Logout</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
        <!--Alert-->
    <div class="row" id="alert_box" style="
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 10;">

            @if(flash.containsKey("fail")) {
                <div class="col s12 m12">
                    <div class="card red lighten-4 z-depth-0">
                        <div class="card-content">
                            <span>  <i class="material-icons left">warning</i> @flash.get("fail") </span>
                            <div class="btn-flat right" id="alert_close"><i class="material-icons">close</i></div>
                        </div>
                    </div>
                </div>
            }

            @if(flash.containsKey("alert")) {
                <div class="col s12 m12">
                    <div class="card yellow lighten-4 z-depth-0">
                        <div class="card-content">
                            <span>  <i class="material-icons left">priority_high</i> @flash.get("alert") </span>
                            <div class="btn-flat right" id="alert_close"><i class="material-icons">close</i></div>
                        </div>
                    </div>
                </div>
            }

            @if(flash.containsKey("success")) {
                <div class="card green lighten-4 z-depth-0">
                    <div class="card-content">
                        <div class="btn-flat right" id="alert_close"><i class="material-icons">close</i></div>
                        <i class="material-icons left">thumb_up</i>
                        <span>   @flash.get("success") </span>
                    </div>
                </div>

            }
    </div>
    <div class="row">
        <br>
    </div>

    <div class="row">
        <main role="main"@* class="container"*@>
        @content
        </main><!-- /.container -->
    </div>


    <!--Scripts-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="@routes.Assets.versioned("materialize/js/materialize.js")"></script>
    <script src="@routes.Assets.versioned("/js/jquery.tablesorter.js")"></script>
    <script src="@routes.Assets.versioned("/js/custom.js")"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        })

        $('#alert_close').click(function(){
            $( "#alert_box" ).fadeOut( "slow", function() {
            });
        });

    </script>
</body>
</html>